<h1 style="margin-top: 1rem; margin-bottom: 2rem; text-align: center;">Administración de artículos</h1>

<table class="table table-striped table-hover">
    <thead>
      
      <tr>
        <th>Codigo</th>
        <th>Descripcion</th>
        <th>Precio</th>
        <th>Borrar</th>
        <th>Seleccionar</th>
      </tr>
    </thead>

    <tbody>

      <tr *ngFor="let articulos of articulo">
        <td>{{ articulos.Codigo }}</td>
        <td>{{ articulos.Descripcion | titlecase}}</td>
        <td>{{ articulos.Precio | currency}}</td>
        <td><button class="btn btn-outline-danger" type="button" (click)="borrar(articulos)">Borrar?</button></td>
        <td><button class="btn btn-outline-info" type="button" (click)="seleccionar(articulos)">Seleccionar</button></td>
      </tr>
    </tbody>


  </table>
