<app-navbar [sidebar]="sidebar"></app-navbar>
<div class="container">

  <app-sidebar #sidebar></app-sidebar>
  
  <!-- <app-tabla (articuloSeleccionadoMostrar)="seleccionar($event)"></app-tabla>
    <app-formulario [articuloSeleccionado]="articuloSeleccionado"></app-formulario> -->
  <!-- <button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasWithBothOptions" aria-controls="offcanvasWithBothOptions" (click)="mostrarSidebar()" style="margin-bottom: 2em;">Mostrar Sidebar</button> -->
  <!-- <app-sidebar [sidebarAbrir]="abrirSidebar"></app-sidebar> -->
  <router-outlet></router-outlet>
  
</div>